


#hud_layer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	bottom: 0px;
	z-index: 10;

	.ui_button {
		text-decoration: none;
		color: #35282A;
		opacity: 0.7;
		font-size: 40px;
		position: absolute;
		left: 10px;
        text-shadow: 0 0 10px #ddd;
		&:after {
			font-family: "mm-icons";
		}

		&.settings {
			bottom: 10px;
			&:after {
				content: "\e600";
			}
		}
		&.quests{
			top: 10px;
			&:after {
				content: "\e272";
			}
		}
	}
}

svg.donut {
  position: absolute;
  top: 0px;
  right: 0px;
}

.meerkat {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  bottom: 0px;
  z-index: 5;
}