@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);

@fontStack: 'Walter Turncoat', Helvetica, cursive;

*, *:before, *:after {
	box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	background-color: #FEC422;
	font-family: @fontStack;
}

body { padding: 20px; &.meerkat { padding: 0;}}

.container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;
	text-align: center;
}

.app_window {
	width: 400px;
	height: 600px;

}

@import './variables.less';
@import './meerkat.less';
@import './icons.less';
@import './btn.less';
@import './form.less';
@import './hud.less';
@import './pop_up.less';
