<!DOCTYPE html>
<html>
<head>
	<title>Mindful Meerkats</title>
	<link rel="stylesheet" href="/css/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <script src="https://rawgit.com/js-cookie/js-cookie/master/src/js.cookie.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/helpers.js"></script>
    <script src="/js/api.js"></script>
    <script>

    // detect token
    api.token = window.location.hash.substr(1);
    window.location.hash = "";
    if( api.token === "" ) api.token = Cookies.get('jwt') || "";
    if( api.token === "" ) window.location.replace( "/login" );
    else {

        Cookies.set('jwt', api.token, { expires: 1 });

        // fetch user record
        $.ajax({
         	url: api.server ,
         	dataType: 'json',
            beforeSend: function( xhr ){
        	  	xhr.setRequestHeader("Authorization", "Bearer " + api.token);
            },
            success: function( data ){
                if( !data.meerkat.full_name ){
         	        window.location.replace("/register");
                } else {
                    window.location.replace("/meerkat");
                }
            },
            error: function( xhr, status, err ){
        		console.error( status, err.toString() );
        	}
        });

    }

    </script>
</body>
</html>