<!DOCTYPE html>
<title>Mindful Meerkats | Login </title>

<!-- build:css -->
<link rel="stylesheet" href="/css/index.css">
<!-- endbuild -->

<div id='container'>
   	<div class="login_box">
   		<h1>Login please</h1>
   		<p>You are trying to access a restriced area.<br>Please log in.</p>
		<a href="http://auth.suricates.nl/webclient/twitter" class="btn twitter">Log in with twitter</a>
   	</div>
</div>




