<!DOCTYPE html>
<title>Mindful Meerkats | Login </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#FDC415">
<link rel="icon" sizes="192x192" href="/img/icon.jpg">

<!-- build:css -->
<link rel="stylesheet" href="/css/index.css">
<!-- endbuild -->

<div class='container'>
	<h1>Login please</h1>
	<p>You are trying to access a restriced area.<br>Please log in.</p>
	<a href="http://auth.suricates.nl/webclient/twitter" class="btn twitter">Log in with twitter</a>
</div>




