<!DOCTYPE html>
<title>Mindful Meerkats | Login </title>
<!-- build:css -->
<link rel="stylesheet" href="/css/index.css">
<!-- endbuild -->

<!-- build:js -->
<script src="/js/config.js"></script>
<script src="/js/helpers.js"></script>
<script src="/js/api.js"></script>
<!-- endbuild -->

<div id='container'>
   	<div class="login_box">
   		<h1>Login please</h1>
   		<p>You are trying to access a restriced area, please log in.</p>
		<a href="http://auth.suricates.nl/auth/twitter" class="btn twitter">Log in with twitter</a>
   	</div>

</div>




