<!DOCTYPE html>
<title>Mindful Meerkats Preview</title>
<link rel="stylesheet" href="/css/index.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/config.js"></script>
<script src="/js/helpers.js"></script>
<script src="/js/meerkat.js"></script>
<script>

  setTimeout( function(){
    try {
        var meerkat_data = JSON.parse( decodeURIComponent( window.location.hash.substr(1) ) );
        render_meerkat( meerkat_data );
    } catch( err ){
        document.body.innerHTML = "Unable to parse meerkat-data";
    }
  }, 200);

</script>
